// Navigation Styles here


    
    nav {
        display:flex;
        padding-top:1%;
        padding-bottom:1%;
        
        width: 100%;
        margin: 0 auto;
        border-bottom:2px dashed lightgrey;
        a{
       
            text-decoration:none;
            margin:1%;
            font-size:1.5rem;
           


        }
        h1{padding-right:20%;
            margin-left:26%;
           
            @media @mobile{
                background:red;
            }
        }
    }

   
    
    